.img{
    background-image: url('../Images/loginscreens.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    object-fit: cover;
    background-position: left 30% ;
    width : 100%;
    height: calc(86.9vh - 50px);
}
.registerimg{
    background-image: url('../Images/loginscreens.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    object-fit: cover;
    background-position: left 30% ;
    width : 100%;
    height: calc(auto - 50px);
}